[scanner]
canbus_uuid: 47762edd371d            
#    adjust to suit your scanner, if using usb change to serial.
#    serial: /dev/serial/by-id/usb-cartographer_cartographer_
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 22                         
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.00322 # 0.5 default
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
# 
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
calibration_method: touch
#    leave this as touch unless you want to use scan only for everything. 
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc
#scanner_touch_z_offset: 0.05     # this line is added to the printer.cfg instead to avoid errors   
#    This is the default and will be overwritten and added to the DO NOT SAVE area by using UI to save z offset
mesh_runs: 2
#    Number of passes to make during mesh scan.


[bed_mesh]
zero_reference_position: 150, 150   
#    set this to the middle of your bed
speed: 200
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 30,30
#    start point of bed mesh [X, Y]
mesh_max: 270,270
#    end point of bed mesh [X, Y]
probe_count: 30, 30
algorithm: bicubic

adaptive_margin: 5
